
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Tüm Haklar Saklıdır | @DateTime.Now.Year</span>
            </div>
          </footer>