@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">

<head>
	
	<link rel="stylesheet" href="~/weberror/css/style.css" type="text/css" media="all" />
	<link href="~/weberror/css/font-awesome.css" rel="stylesheet">
	<link href="~/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<style>
			#homePage{
				background-color:white;
				color:#394247;
				border:none;
				border-radius:6px;
			}
			.btn{
				color:#394247;
			}
			.btn:hover{
				color:white;
			}
			#homePage:hover{
				background-color:#394247;
				color:white;
			}
	</style>

</head>

<body>
	<section class="w3l-error-61-404">
		<div class="error-61-mian">
			<div class="wrapper">
				<div class="errors-16-top">
					<div class="errors-16-info">
						<h3>404 </h3>

						<p>Oops! Sayfa Bulunamadı</p>
						<button type:"submit" id="homePage"><a href="/Hospital/Index/ " class="btn"><span class="fa fa-home"> Anasayfaya dönmek için buraya tıklayın</span></a></button>
						<form action="#" method="post" class="d-flex error-page-form">
							<input type="search" placeholder="Burada Arayın" >
							<button type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
							
						</form>
						<div class="social-coming-icons">
							<a href="#" title="Facebook" class="footer-fb"><span class="fa fa-facebook"
									aria-hidden="true"></span></a>
							<a href="#" title="Twitter" class="footer-tw"><span class="fa fa-twitter"
									aria-hidden="true"></span></a>
							<a href="#" title="Google Plus" class="footer-gg"><span class="fa fa-google-plus"
									aria-hidden="true"></span></a>
							<a href="#" title="Linkedin" class="footer-lin"><span class="fa fa-linkedin"
									aria-hidden="true"></span></a>
						</div>
					
					</div>

				</div>
				<div class="copyright-footer">
					<div class="copy-right">
						<p>© @DateTime.Now.Year .Tüm Hakları Saklıdır | Design by
							<a href="https://projeit.com/" target="_blank">ProjeIT</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>