<style>
	.resimKapsayici{
		position:relative;

	}
	.resimYazisi{
		position:absolute;
		top:50%;
		left:45%;
		border:2px solid black;
		color:black;
		font-weight:bold;
		font-size:1.5rem;
		border-radius:6px;
		padding:5px;
		background-color:#EDEEF1;

	}
	.resimYazisi:hover{
		border-color:red;
		color:red;

	}
	
</style>

<header>
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 logo text-left">
					<a class="navbar-brand" href="/Hospital/Index/" style=" text-transform:none;font-family:'Brush Script MT'" >
						<i class="fab fa-linode" style="color:#ACD5E2"></i> MyNote</a>
				</div>
				<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
					<span>Hoşgeldiniz</span>
					<span class="mx-lg-4 mx-md-2  mx-1">
						<a href="/Login/Index/" class="topObject">
							<i class="fas fa-lock" style="color:#ACD5E2"></i> Giriş Yap</a>
					</span>
					<span>
						<a href="/Register/Index/" class="topObject">
							<i class="far fa-user" style="color:#ACD5E2"></i> Kaydol</a>
					</span>
				</div>
				<div class="col-md-4 log-icons text-right">

					<ul class="social_list1 mt-3">

						<li>
							<a href="#" class="facebook1 mx-2">
								<i class="fab fa-facebook-f"></i>

							</a>
						</li>
						<li>
							<a href="#" class="twitter2">
								<i class="fab fa-twitter"></i>

							</a>
						</li>
						<li>
							<a href="#" class="dribble3 mx-2">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
						<li>
							<a href="#" class="pin">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="header_top" id="home">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>


				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link topObject" href="/Hospital/Index/" > ANASAYFA
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#asagı"  > HAKKIMIZDA</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="/Contact/Index/" > İLETİŞİM</a>
						</li>

					</ul>
					<form action="#" method="post" class="form-inline my-2 my-lg-0 header-search">
						<input class="form-control mr-sm-2" type="search" placeholder="Aranacak Kelime..." name="Search" required="">
						<button class="btn btn1 my-2 my-sm-0" type="submit" style="background-color:#ACD5E2" >
							<i class="fas fa-search"></i>
						</button>
					</form>



				</div>
			</nav>

		</div>


</header>
	<div class="resimKapsayici">
	<img src="~/web/images/12.png" style="width:100%;height:355px">
	<a href="/Login/Index/" class="yaziKapsayici">
		<p class="resimYazisi" >Not Oluştur</p>
	</a>	
</div>