
@{
    Layout = null;
}

<!DOCTYPE html>
<html >

<head>
<style>

</style>

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="~/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="~/web/css/single.css">
	<link href="~/web/css/site.css" rel='stylesheet' type='text/css' />
	<link href="~/web/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/web/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
</head>

<body>
	@await Html.PartialAsync("PartialView3")
	@RenderBody()
	@await Html.PartialAsync("PartialView2")

	<script src="js/jquery-2.2.3.min.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script src="js/bootstrap.js"></script>


</body>

</html>